### Import Dependencies

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import random

### Load Dataset

In [4]:
df = pd.read_csv('wines_SPA.csv')

In [5]:
df = df.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6329 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       6329 non-null   object
 1   wine         6329 non-null   object
 2   year         6329 non-null   object
 3   rating       6329 non-null   float64
 4   num_reviews  6329 non-null   int64
 5   country      6329 non-null   object
 6   region       6329 non-null   object
 7   price        6329 non-null   float64
 8   type         6329 non-null   object
 9   body         6329 non-null   float64
 10  acidity      6329 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 593.3+ KB

### Implement Train Test Split Manually

In [36]:
def train_test_split(df, target, test_size = 0.2):
    df = df.sample(frac = 1, random_state = 1) 
    len_data = len(df)
    test_index = int(len_data * test_size)
    X_train = df.iloc[test_index:]
    X_test = df.iloc[:test_index]
    y_train = X_train[target]
    y_test = X_test[target]
    X_train = X_train.drop(columns = [target])
    X_test = X_test.drop(columns = [target])
    return X_train, y_train, X_test, y_test

In [38]:
X_train, y_train, X_test, y_test = train_test_split(df, 'price')

In [40]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5064, 10) (1265, 10) (5064,) (1265,)